body{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: teal;
    align-items: center;
    padding: 8px 12px;
}
.nav_logo{
    color: white;
    font-size: 24px;
}
.nav_logo i {
    color: violet;
}
.nav_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav_menu li {
    padding: 8px;
}
.nav_menu li:hover {
    background-color: tomato;
    border-radius: 4px;
}
.nav_link{
    list-style: none;
    font-size: 24px;
    color: white;
    display: flex;
    padding-left: 0;
}
.nav_link i {
    padding: 8px;;
}
.toggleBtn{
    position: absolute;
    right: 18px;
    display: none;
    padding-top: 5px;
}
.toggleBtn i{
    font-size: 24px;;
}
@media screen and (max-width : 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .nav_menu{
        flex-direction: column;
        align-items: center;
        width: 100%;;
        display: none;
    }
    .nav_menu li {
        width: 100%;
        text-align: center;
    }
    .nav_link {
        justify-content: center;
        width: 100%;
        display: none;
    }
    .toggleBtn{
        display: block;
    }
    .nav_link.active,
    .nav_menu.active{
        display: flex;
    }
}